
.gallery {
    
    display: grid;
    max-width: 95vw;
    margin: 1.3% 1.3%;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: repeat(5, 15vw);
    grid-gap: 15px;
    
}

img{
    height: 32vh;
    width: 23vw;
    margin-bottom: 10px;
}

.banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;

}

@media screen and (max-width:768px){
    .gallery {
    
        display: grid;
        max-width: 95vw;
        margin: 1.3% 1.3%;
        grid-template-columns: repeat(3, 0.5fr);
        grid-template-rows: repeat(5, 35vw);
        grid-gap: 15px;
        row-gap: 10px;
        
    }  
    img{
        height: 23vh;
        width: 30vw;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:376x){
    .gallery {
    
        display: grid;
        max-width: 95vw;
        margin: 1.3% 1.3%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 50vw);
        grid-gap: 15px;
        
    }  
    img{
        height: 21vh;
        width: 30vw;
        margin-bottom: 10px;
    }
}